<!doctype html>
<html lang="fr">
<head>
	<title>Administration</title>
	<meta name="Content-Type" content="text/html;charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style type="text/css"></style>
	
</head>
<body>
	<h1>administration</h1>
<div class="container">
	<div class="container">
	  <h1>index</h1>
	  <p>This is the administration page.</p> 
	</div>
</div>
</body>
</html>